<section class="container">
  <header class="header d-flex">
    <h2>Minhas Tarefas:📋</h2>
    <button [routerLink]="['/criarTarefa']" class="botao">Adicionar Tarefa</button>
  </header>
  <div class="mural" *ngIf="listaTarefas.length > 0, else semTarefas">
    <div *ngFor="let tarefa of listaTarefas">
      <app-tarefa [tarefa]="tarefa"></app-tarefa>
    </div>
  </div>
</section>
<ng-template #semTarefas>
  <div class="sem-tarefas">
    <p>Ainda não há tarefas cadastradas!❌</p>
  </div>
</ng-template>
